In [1]:
import numpy as np
import pandas as pd
#from google.colab import files

# Fazer o upload do arquivo CSV
#uploaded = files.upload()

# Nome do arquivo enviado
#nome_arquivo = list(uploaded.keys())[0] # dados

In [2]:
# Ler o arquivo CSV usando pandas
# Como o delimitador é uma tabulação, usamos '\t' como separador
df_dados = pd.read_csv("../data/dropout_data.csv", delimiter='\t')

# Exibir as primeiras linhas do dataframe para verificar se os dados foram carregados corretamente
df_dados.head(1000)

,CR,RF,RF-CAT,SEXO,IDA-IN,IDA-SUP,IDA-MÉD,TC,NC,TO,ME,TC-NC-TO,TURNO,ANO,MAT,EVA,COM,TE
0,AMA,NaN,ND,M,45.0,49.0,47.0,TÉC,PES,SUB,P,TÉC-PES-SUB,VES,2017,1,1,0,100%
1,BRA,"0,5","0,5",F,15.0,19.0,17.0,FIC,MFC,CON,P,FIC-MFC-CON,NOT,2017,1,0,1,0%
2,BRA,"0,5","0,5",F,15.0,19.0,17.0,TÉC,GT,SUB,P,TÉC-GT-SUB,VES,2017,1,0,1,0%
3,BRA,"0,5","0,5",F,15.0,19.0,17.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,VES,2017,2,0,2,0%
4,BRA,"0,5","0,5",F,15.0,19.0,17.0,TÉC,TI,SUB,P,TÉC-TI-SUB,VES,2017,1,0,1,0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ND,"0,5","0,5",F,55.0,59.0,57.0,FIC,ACO,NSA,P,FIC-ACO-NSA,MAT,2019,1,0,1,0%
996,ND,"0,5","0,5",M,20.0,24.0,22.0,TÉC,TI,SUB,P,TÉC-TI-SUB,NOT,2019,1,1,0,100%
997,ND,1,1,F,20.0,24.0,22.0,FIC,IC,NSA,P,FIC-IC-NSA,VES,2019,1,1,0,100%
998,ND,1,1,F,20.0,24.0,22.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,NOT,2019,1,0,1,0%
999,ND,1,1,F,30.0,34.0,32.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,NOT,2019,1,0,1,0%

In [3]:
# Contagem dos valores nulos
print("Contagem dos valores nulos de cada coluna")
print(df_dados.isna().sum())

Contagem dos valores nulos de cada coluna
CR             0
RF          1266
RF-CAT         0
SEXO          10
IDA-IN        11
IDA-SUP       11
IDA-MÉD       11
TC             0
NC             0
TO             0
ME             0
TC-NC-TO       0
TURNO          0
ANO            0
MAT            0
EVA            0
COM            0
TE             0
dtype: int64

In [10]:
df_dados['EVA'] = df_dados['EVA'].fillna(0) # Substituir todos os valores NaN na coluna EVA por 0
df_dados['EVA'] = df_dados['EVA'].astype(int) # Converter a coluna EVA para inteiro

In [11]:
df_dados['RF'] = df_dados['RF'].str.replace(',', '.') # Substituir , por . no campo RF
df_dados['RF'] = pd.to_numeric(df_dados['RF'], errors='coerce') # Substituir valores não numéricos ('S/I') por NaN
df_dados['RF'] = df_dados['RF'].astype(float) # Converter a coluna RF para FLOAT

In [12]:
df_dados['IDA-IN'] = df_dados['IDA-IN'].replace(['S/I', 'ND'], np.nan) # Substituir valores específicos ('S/I' e 'ND') por NaN
df_dados['IDA-IN'] = df_dados['IDA-IN'].replace(['', ' '], np.nan) # Substituir valores específicos ('' e ' ') por NaN
df_dados['IDA-IN'] = pd.to_numeric(df_dados['IDA-IN'], errors='coerce') # Substituir valores não numéricos ('S/I') por NaN
df_dados['IDA-SUP'] = pd.to_numeric(df_dados['IDA-SUP'], errors='coerce') # Substituir valores não numéricos ('S/I') por NaN
df_dados['IDA-MÉD'] = pd.to_numeric(df_dados['IDA-MÉD'], errors='coerce') # Substituir valores não numéricos ('S/I') por NaN

In [13]:
df_dados['TE'] = pd.to_numeric(df_dados['TE'], errors='coerce')
df_dados['TE'] = df_dados['EVA'] / df_dados['MAT']

In [14]:
df_dados['SEXO'] = df_dados['SEXO'].replace(['S/I', 'ND'], np.nan) # Substituir valores específicos ('S/I' e 'ND') por NaN
df_dados['SEXO'] = df_dados['SEXO'].replace([' ', ''], np.nan) # Substituir valores específicos ('S/I' e 'ND') por NaN

In [15]:
df_dados['TO'] = df_dados['TO'].fillna('NSA')
df_dados['RF-CAT'] = df_dados['RF-CAT'].fillna('ND')

In [16]:
df_dados.head(1000)

,CR,RF,RF-CAT,SEXO,IDA-IN,IDA-SUP,IDA-MÉD,TC,NC,TO,ME,TC-NC-TO,TURNO,ANO,MAT,EVA,COM,TE
0,AMA,NaN,ND,M,45.0,49.0,47.0,TÉC,PES,SUB,P,TÉC-PES-SUB,VES,2017,1,1,0,1.0
1,BRA,0.5,"0,5",F,15.0,19.0,17.0,FIC,MFC,CON,P,FIC-MFC-CON,NOT,2017,1,0,1,0.0
2,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,GT,SUB,P,TÉC-GT-SUB,VES,2017,1,0,1,0.0
3,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,VES,2017,2,0,2,0.0
4,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,TI,SUB,P,TÉC-TI-SUB,VES,2017,1,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ND,0.5,"0,5",F,55.0,59.0,57.0,FIC,ACO,NSA,P,FIC-ACO-NSA,MAT,2019,1,0,1,0.0
996,ND,0.5,"0,5",M,20.0,24.0,22.0,TÉC,TI,SUB,P,TÉC-TI-SUB,NOT,2019,1,1,0,1.0
997,ND,1.0,1,F,20.0,24.0,22.0,FIC,IC,NSA,P,FIC-IC-NSA,VES,2019,1,1,0,1.0
998,ND,1.0,1,F,20.0,24.0,22.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,NOT,2019,1,0,1,0.0
999,ND,1.0,1,F,30.0,34.0,32.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,NOT,2019,1,0,1,0.0

In [17]:
# Contagem dos valores nulos
print("Contagem dos valores nulos de cada coluna")
print(df_dados.isna().sum())

Contagem dos valores nulos de cada coluna
CR             0
RF          1266
RF-CAT         0
SEXO          10
IDA-IN        11
IDA-SUP       11
IDA-MÉD       11
TC             0
NC             0
TO             0
ME             0
TC-NC-TO       0
TURNO          0
ANO            0
MAT            0
EVA            0
COM            0
TE             0
dtype: int64

In [18]:
# Lista para armazenar os dados expandidos
dados_expandidos = []

for index, row in df_dados.iterrows():
    # Para cada exemplo na coluna COM (alunos que não evadiram)
    for _ in range(row['COM']):
        # dados_expandidos.append({'AE': 'NÃO', 'COM': row['COM'], 'EVA': row['EVA']})
        nova_linha = row.copy()  # Copiar todos os dados da linha atual
        nova_linha['AE'] = 'NÃO'  # Adicionar a coluna AE com valor "NÃO"
        dados_expandidos.append(nova_linha)

    # Para cada exemplo na coluna EVA (alunos que evadiram)
    for _ in range(row['EVA']):
        # dados_expandidos.append({'AE': 'SIM', 'COM': row['COM'], 'EVA': row['EVA']})
        nova_linha = row.copy()  # Copiar todos os dados da linha atual
        nova_linha['AE'] = 'SIM'  # Adicionar a coluna AE com valor "SIM"
        dados_expandidos.append(nova_linha)

In [19]:
# Criar o novo DataFrame a partir dos dados expandidos
df_exp = pd.DataFrame(dados_expandidos)
df_exp

,CR,RF,RF-CAT,SEXO,IDA-IN,IDA-SUP,IDA-MÉD,TC,NC,TO,ME,TC-NC-TO,TURNO,ANO,MAT,EVA,COM,TE,AE
0,AMA,NaN,ND,M,45.0,49.0,47.0,TÉC,PES,SUB,P,TÉC-PES-SUB,VES,2017,1,1,0,1.0,SIM
1,BRA,0.5,"0,5",F,15.0,19.0,17.0,FIC,MFC,CON,P,FIC-MFC-CON,NOT,2017,1,0,1,0.0,NÃO
2,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,GT,SUB,P,TÉC-GT-SUB,VES,2017,1,0,1,0.0,NÃO
3,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,VES,2017,2,0,2,0.0,NÃO
3,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,VES,2017,2,0,2,0.0,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3733,PAR,1.0,1,F,25.0,29.0,27.0,TÉC,CE,SUB,D,TÉC-CE-SUB,NSA,2023,1,1,0,1.0,SIM
3734,PAR,3.5,"3,5",F,40.0,44.0,42.0,TÉC,CE,PROSUB,D,TÉC-CE-SUB,NSA,2023,1,1,1,1.0,NÃO
3734,PAR,3.5,"3,5",F,40.0,44.0,42.0,TÉC,CE,PROSUB,D,TÉC-CE-SUB,NSA,2023,1,1,1,1.0,SIM
3735,ND,NaN,ND,F,35.0,39.0,37.0,TÉC,CE,PROSUB,D,TÉC-CE-SUB,NSA,2023,1,1,0,1.0,SIM
3736,PAR,1.0,1,F,35.0,39.0,37.0,TÉC,CE,SUB,D,TÉC-CE-SUB,NSA,2023,1,1,0,1.0,SIM

In [20]:
# Verificação de valores nulos em TO
na_to = df_exp[df_exp['TO'].isnull()]
na_to.head(100)

Empty DataFrame
Columns: [CR, RF, RF-CAT, SEXO, IDA-IN, IDA-SUP, IDA-MÉD, TC, NC, TO, ME, TC-NC-TO, TURNO, ANO, MAT, EVA, COM, TE, AE]
Index: []

In [21]:
# Verificação de valores nulos em RF
na_rf = df_exp[df_exp['RF'].isnull()]
na_rf.head(100)

,CR,RF,RF-CAT,SEXO,IDA-IN,IDA-SUP,IDA-MÉD,TC,NC,TO,ME,TC-NC-TO,TURNO,ANO,MAT,EVA,COM,TE,AE
0,AMA,NaN,ND,M,45.0,49.0,47.0,TÉC,PES,SUB,P,TÉC-PES-SUB,VES,2017,1,1,0,1.000000,SIM
43,BRA,NaN,ND,F,15.0,19.0,17.0,TÉC,PES,SUB,P,TÉC-PES-SUB,VES,2017,2,2,0,1.000000,SIM
43,BRA,NaN,ND,F,15.0,19.0,17.0,TÉC,PES,SUB,P,TÉC-PES-SUB,VES,2017,2,2,0,1.000000,SIM
44,BRA,NaN,ND,F,15.0,19.0,17.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,VES,2017,6,3,3,0.500000,NÃO
44,BRA,NaN,ND,F,15.0,19.0,17.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,VES,2017,6,3,3,0.500000,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,PAR,NaN,ND,F,35.0,39.0,37.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,VES,2017,2,2,0,1.000000,SIM
150,PAR,NaN,ND,F,35.0,39.0,37.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,NOT,2017,3,1,2,0.333333,NÃO
150,PAR,NaN,ND,F,35.0,39.0,37.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,NOT,2017,3,1,2,0.333333,NÃO
150,PAR,NaN,ND,F,35.0,39.0,37.0,TÉC,SJ,SUB,P,TÉC-SJ-SUB,NOT,2017,3,1,2,0.333333,SIM
151,PAR,NaN,ND,F,35.0,39.0,37.0,TÉC,TI,SUB,P,TÉC-TI-SUB,VES,2017,1,0,1,0.000000,NÃO

In [23]:
# Verificação de valores nulos em IDA-IN
print("IDA-IN NULO")
print(df_exp[df_exp['IDA-IN'].isnull()].head(1000))

IDA-IN NULO
       CR   RF RF-CAT SEXO  IDA-IN  IDA-SUP  IDA-MÉD   TC   NC   TO ME  \
1283  BRA  NaN     ND  NaN     NaN      NaN      NaN  FIC  APS  NSA  D
1283  BRA  NaN     ND  NaN     NaN      NaN      NaN  FIC  APS  NSA  D
1578  PAR  NaN     ND  NaN     NaN      NaN      NaN  FIC  APS  NSA  D
1579  PAR  NaN     ND  NaN     NaN      NaN      NaN  FIC  APC  NSA  D
1580  PAR  NaN     ND  NaN     NaN      NaN      NaN  FIC   AP  NSA  D
1750   ND  NaN     ND  NaN     NaN      NaN      NaN  FIC   AC  NSA  D
2044  BRA  NaN     ND  NaN     NaN      NaN      NaN  FIC  APS  NSA  D
2044  BRA  NaN     ND  NaN     NaN      NaN      NaN  FIC  APS  NSA  D
2047  PAR  0.5    0,5    F     NaN      NaN      NaN  FIC   AP  NSA  D
2412  PAR  NaN     ND  NaN     NaN      NaN      NaN  FIC  APS  NSA  D
2413  PAR  NaN     ND  NaN     NaN      NaN      NaN  FIC  APC  NSA  D
2414  PAR  NaN     ND  NaN     NaN      NaN      NaN  FIC   AP  NSA  D
2605   ND  NaN     ND  NaN     NaN      NaN      NaN  FIC   AC  NSA  D

          TC-NC-TO TURNO   ANO  MAT  EVA  COM   TE   AE
1283   FIC-APS-NSA   NSA  2020    2    0    2  0.0  NÃO
1283   FIC-APS-NSA   NSA  2020    2    0    2  0.0  NÃO
1578   FIC-APS-NSA   NSA  2020    1    0    1  0.0  NÃO
1579   FIC-APC-NSA   NSA  2020    1    0    1  0.0  NÃO
1580    FIC-AP-NSA   NSA  2020    1    0    1  0.0  NÃO
1750    FIC-AC-NSA   NSA  2020    1    0    1  0.0  NÃO
2044  FIC-APS-NSA    NSA  2021    2    2    0  1.0  SIM
2044  FIC-APS-NSA    NSA  2021    2    2    0  1.0  SIM
2047   FIC-AP-NSA    NSA  2021    1    1    0  1.0  SIM
2412  FIC-APS-NSA    NSA  2021    1    1    0  1.0  SIM
2413  FIC-APC-NSA    NSA  2021    1    1    0  1.0  SIM
2414   FIC-AP-NSA    NSA  2021    1    1    0  1.0  SIM
2605   FIC-AC-NSA    NSA  2021    1    1    0  1.0  SIM

In [ ]:
# Análise dos tipos de dados
print("Tipos de dados de cada coluna:")
print(df_exp.dtypes)

Tipos de dados de cada coluna:
CR           object
RF          float64
RF-CAT       object
SEXO         object
IDA-IN      float64
IDA-SUP     float64
IDA-MÉD     float64
TC           object
NC           object
TO           object
ME           object
TC-NC-TO     object
TURNO        object
ANO           int64
MAT           int64
EVA           int64
COM           int64
TE          float64
AE           object
dtype: object

In [24]:
# Contagem dos valores nulos
print("Contagem dos valores nulos de cada coluna")
print(df_exp.isna().sum())

Contagem dos valores nulos de cada coluna
CR             0
RF          2067
RF-CAT         0
SEXO          12
IDA-IN        13
IDA-SUP       13
IDA-MÉD       13
TC             0
NC             0
TO             0
ME             0
TC-NC-TO       0
TURNO          0
ANO            0
MAT            0
EVA            0
COM            0
TE             0
AE             0
dtype: int64

In [25]:
# Valores com espaço em branco em NC e TC-NC-TO

df_exp['NC'] = df_exp['NC'].str.strip()
valores_nc = df_exp.NC
print(valores_nc.unique())

df_exp['TC-NC-TO'] = df_exp['TC-NC-TO'].str.replace(' ','',regex=True)
valores_tc_nc_to = df_exp['TC-NC-TO']
print(valores_tc_nc_to.unique())

['PES' 'MFC' 'GT' 'SJ' 'TI' 'TA' 'CTUCAL' 'PEP' 'ADS' 'DES' 'CTECL' 'POP'
 'OC' 'VE' 'RE' 'ACO' 'IC' 'AP' 'AL' 'APC' 'OE' 'AC' 'APS' 'ACS' 'THL'
 'CE' 'AB']
['TÉC-PES-SUB' 'FIC-MFC-CON' 'TÉC-GT-SUB' 'TÉC-SJ-SUB' 'TÉC-TI-SUB'
 'TÉC-TA-SUB' 'FIC-CTUCAL-CON' 'FIC-PEP-CON' 'FIC-ADS-CON' 'FIC-DES-CON'
 'FIC-CTECL-CON' 'FIC-POP-CON' 'TÉC-SJ-INT' 'FIC-OC-CON' 'FIC-VE-CON'
 'FIC-RE-CON' 'FIC-ACO-NSA' 'FIC-IC-NSA' 'FIC-DES-NSA' 'FIC-CTUCAL-NSA'
 'FIC-POP-NSA' 'FIC-AP-NSA' 'FIC-AL-NSA' 'FIC-APC-NSA' 'FIC-OE-NSA'
 'FIC-AC-NSA' 'FIC-APS-NSA' 'FIC-ACS-NSA' 'TÉC-TI-NSA' 'EST-THL-NSA'
 'TÉC-CE-SUB' 'TÉC-SJ-PROINT' 'TÉC-CE-PROSUB' 'TÉC-TI-PROSUB'
 'TÉC-THL-PROSUB' 'TÉC-THL-SUB' 'FIC-AB-NSA']

In [ ]:
# Usando np.where para substituir 'FIC' por 'TÉC' onde 'TO' é igual a 'SUB' ou 'INT'
#df_exp['TC'] = np.where((df_exp['TO'] == 'SUB') | (df_exp['TO'] == 'INT'), 'TÉC', df_exp['TC'])
#valores_tc = df_exp.TC
#print(valores_tc.unique())
#print(valores_tc_nc_to.unique())

In [ ]:
# Usando np.where para substituir 'TÉC' por 'FIC' onde 'TO' é igual a 'NA'
#df_exp['TC'] = np.where((df_exp['TO'] == 'NSA'), 'FIC', df_exp['TC'])
#valores_tc = df_exp.TC
#print(valores_tc.unique())
#print(valores_tc_nc_to.unique())
# existem TO iguais a NSA que TC = EST

In [26]:
df_exp['TO'] = df_exp['TO'].str.strip()
valores_to = df_exp['TO']
print(valores_to.unique())
print(valores_tc_nc_to.unique())

['SUB' 'CON' 'INT' 'NSA' 'PROINT' 'PROSUB']
['TÉC-PES-SUB' 'FIC-MFC-CON' 'TÉC-GT-SUB' 'TÉC-SJ-SUB' 'TÉC-TI-SUB'
 'TÉC-TA-SUB' 'FIC-CTUCAL-CON' 'FIC-PEP-CON' 'FIC-ADS-CON' 'FIC-DES-CON'
 'FIC-CTECL-CON' 'FIC-POP-CON' 'TÉC-SJ-INT' 'FIC-OC-CON' 'FIC-VE-CON'
 'FIC-RE-CON' 'FIC-ACO-NSA' 'FIC-IC-NSA' 'FIC-DES-NSA' 'FIC-CTUCAL-NSA'
 'FIC-POP-NSA' 'FIC-AP-NSA' 'FIC-AL-NSA' 'FIC-APC-NSA' 'FIC-OE-NSA'
 'FIC-AC-NSA' 'FIC-APS-NSA' 'FIC-ACS-NSA' 'TÉC-TI-NSA' 'EST-THL-NSA'
 'TÉC-CE-SUB' 'TÉC-SJ-PROINT' 'TÉC-CE-PROSUB' 'TÉC-TI-PROSUB'
 'TÉC-THL-PROSUB' 'TÉC-THL-SUB' 'FIC-AB-NSA']

In [27]:
df_exp['NC'] = df_exp['NC'].str.strip()
valores_nc = df_exp['NC']
print(valores_nc.unique())
print(valores_tc_nc_to.unique())

['PES' 'MFC' 'GT' 'SJ' 'TI' 'TA' 'CTUCAL' 'PEP' 'ADS' 'DES' 'CTECL' 'POP'
 'OC' 'VE' 'RE' 'ACO' 'IC' 'AP' 'AL' 'APC' 'OE' 'AC' 'APS' 'ACS' 'THL'
 'CE' 'AB']
['TÉC-PES-SUB' 'FIC-MFC-CON' 'TÉC-GT-SUB' 'TÉC-SJ-SUB' 'TÉC-TI-SUB'
 'TÉC-TA-SUB' 'FIC-CTUCAL-CON' 'FIC-PEP-CON' 'FIC-ADS-CON' 'FIC-DES-CON'
 'FIC-CTECL-CON' 'FIC-POP-CON' 'TÉC-SJ-INT' 'FIC-OC-CON' 'FIC-VE-CON'
 'FIC-RE-CON' 'FIC-ACO-NSA' 'FIC-IC-NSA' 'FIC-DES-NSA' 'FIC-CTUCAL-NSA'
 'FIC-POP-NSA' 'FIC-AP-NSA' 'FIC-AL-NSA' 'FIC-APC-NSA' 'FIC-OE-NSA'
 'FIC-AC-NSA' 'FIC-APS-NSA' 'FIC-ACS-NSA' 'TÉC-TI-NSA' 'EST-THL-NSA'
 'TÉC-CE-SUB' 'TÉC-SJ-PROINT' 'TÉC-CE-PROSUB' 'TÉC-TI-PROSUB'
 'TÉC-THL-PROSUB' 'TÉC-THL-SUB' 'FIC-AB-NSA']

In [ ]:
# Usando np.where para substituir em TO por 'NSA' onde 'NC' é igual a 'TP'
#df_exp['TO'] = np.where((df_exp['NC'] == 'TP'), 'NSA', df_exp['TO'])
#valores_to = df_exp.TO
#print(valores_to.unique())

# Usando np.where para substituir em TC por 'FIC' onde 'NC' é igual a 'TP'
#df_exp['TC'] = np.where((df_exp['NC'] == 'TP'), 'FIC', df_exp['TC'])
#valores_tc = df_exp.TC
#print(valores_tc.unique())

#print(valores_tc_nc_to.unique())

In [ ]:
# ajustando TC-NC-TO
df_exp['TC-NC-TO'] = df_exp['TC'] + '-' + df_exp['NC'] +  '-' + df_exp['TO']
valores_tc_nc_to = df_exp['TC-NC-TO']
print(valores_tc_nc_to.unique())

['TÉC-PES-SUB' 'FIC-MFC-CON' 'TÉC-GT-SUB' 'TÉC-SJ-SUB' 'TÉC-TI-SUB'
 'TÉC-TA-SUB' 'FIC-CTUCAL-CON' 'FIC-PEP-CON' 'FIC-ADS-CON' 'FIC-DES-CON'
 'FIC-CTECL-CON' 'FIC-POP-CON' 'TÉC-SJ-INT' 'FIC-OC-CON' 'FIC-VE-CON'
 'FIC-RE-CON' 'FIC-ACO-NSA' 'FIC-IC-NSA' 'FIC-DES-NSA' 'FIC-CTUCAL-NSA'
 'FIC-POP-NSA' 'FIC-AP-NSA' 'FIC-AL-NSA' 'FIC-APC-NSA' 'FIC-OE-NSA'
 'FIC-AC-NSA' 'FIC-APS-NSA' 'FIC-ACS-NSA' 'EST-THL-NSA' 'TÉC-CE-SUB'
 'TÉC-SJ-PROINT' 'TÉC-CE-PROSUB' 'TÉC-TI-PROSUB' 'FIC-AB-NSA']

In [28]:
# ajustando NC-ME
df_exp['NC-ME'] = df_exp['NC'] + '-' + df_exp['ME']
valores_tc_nc_to = df_exp['NC-ME']
print(valores_tc_nc_to.unique())

['PES-P' 'MFC-P' 'GT-P' 'SJ-P' 'TI-P' 'TA-P' 'CTUCAL-P' 'PEP-P' 'ADS-P'
 'DES-P' 'CTECL-P' 'POP-P' 'OC-P' 'VE-P' 'RE-P' 'ACO-P' 'IC-P' 'AP-D'
 'AL-D' 'CTUCAL-D' 'APC-D' 'OE-D' 'AC-D' 'APS-D' 'ACS-P' 'ACO-D' 'THL-D'
 'CE-D' 'SJ-D' 'TI-D' 'AB-P']

In [29]:
# ajustando NC-TURNO
df_exp['NC-TURNO'] = df_exp['NC'] + '-' + df_exp['TURNO']
valores_tc_nc_to = df_exp['NC-TURNO']
print(valores_tc_nc_to.unique())

['PES-VES' 'MFC-NOT' 'GT-VES' 'SJ-VES' 'TI-VES' 'SJ-NOT' 'TA-NOT'
 'CTUCAL-INT' 'PEP-NOT' 'ADS-INT' 'DES-NOT' 'DES-VES' 'CTECL-INT'
 'POP-NOT' 'TI-NOT' 'SJ-INT' 'OC-VES' 'VE-VES' 'RE-VES' 'ACO-MAT' 'IC-VES'
 'CTUCAL-VES' 'AP-NSA' 'AL-NSA' 'CTUCAL-NSA' 'APC-NSA' 'OE-NSA' 'AC-NSA'
 'APS-NSA' 'ACS-NOT' 'TA-VES' 'ACO-NSA' 'GT-INT' 'THL-NSA' 'CE-NSA'
 'CTUCAL-MAT' 'SJ-NSA' 'TI-NSA' 'AB-VES']

In [30]:
df_exp['AE'] = df_exp.pop('AE')

In [ ]:
# Filtra os valores da coluna NC onde TO é igual a 'SUB'
valores_nc_sub = df_exp.loc[df_exp['TO'] == 'SUB', 'NC'].unique()
print(valores_nc_sub)

['PES' 'GT' 'SJ' 'TI' 'TA' 'CE']

In [31]:
# Filtra os valores da coluna NC onde TO é igual a 'INT'
valores_nc_int = df_exp.loc[df_exp['TO'] == 'INT', 'NC'].unique()
print(valores_nc_int)

['SJ']

In [32]:
# Filtra os valores da coluna NC onde TO é igual a 'NSA'
valores_nc_na = df_exp.loc[df_exp['TO'] == 'NSA', 'NC'].unique()
print(valores_nc_na)

['ACO' 'IC' 'DES' 'CTUCAL' 'POP' 'AP' 'AL' 'APC' 'OE' 'AC' 'APS' 'ACS'
 'THL' 'AB']

In [33]:
df_exp.head(100)

,CR,RF,RF-CAT,SEXO,IDA-IN,IDA-SUP,IDA-MÉD,TC,NC,TO,...,TC-NC-TO,TURNO,ANO,MAT,EVA,COM,TE,NC-ME,NC-TURNO,AE
0,AMA,NaN,ND,M,45.0,49.0,47.0,TÉC,PES,SUB,...,TÉC-PES-SUB,VES,2017,1,1,0,1.0,PES-P,PES-VES,SIM
1,BRA,0.5,"0,5",F,15.0,19.0,17.0,FIC,MFC,CON,...,FIC-MFC-CON,NOT,2017,1,0,1,0.0,MFC-P,MFC-NOT,NÃO
2,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,GT,SUB,...,TÉC-GT-SUB,VES,2017,1,0,1,0.0,GT-P,GT-VES,NÃO
3,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,SJ,SUB,...,TÉC-SJ-SUB,VES,2017,2,0,2,0.0,SJ-P,SJ-VES,NÃO
3,BRA,0.5,"0,5",F,15.0,19.0,17.0,TÉC,SJ,SUB,...,TÉC-SJ-SUB,VES,2017,2,0,2,0.0,SJ-P,SJ-VES,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,BRA,NaN,ND,M,25.0,29.0,27.0,TÉC,SJ,SUB,...,TÉC-SJ-SUB,NOT,2017,2,2,0,1.0,SJ-P,SJ-NOT,SIM
70,BRA,NaN,ND,M,25.0,29.0,27.0,TÉC,SJ,SUB,...,TÉC-SJ-SUB,NOT,2017,2,2,0,1.0,SJ-P,SJ-NOT,SIM
71,BRA,NaN,ND,M,25.0,29.0,27.0,TÉC,TA,SUB,...,TÉC-TA-SUB,NOT,2017,4,4,0,1.0,TA-P,TA-NOT,SIM
71,BRA,NaN,ND,M,25.0,29.0,27.0,TÉC,TA,SUB,...,TÉC-TA-SUB,NOT,2017,4,4,0,1.0,TA-P,TA-NOT,SIM
71,BRA,NaN,ND,M,25.0,29.0,27.0,TÉC,TA,SUB,...,TÉC-TA-SUB,NOT,2017,4,4,0,1.0,TA-P,TA-NOT,SIM

In [34]:
# Colunas selecionadas inicialmente na preparação dos dados, ficaram apenas as colunas da análise exploratória descritiva
colunas_selecionadas = ['CR','RF','RF-CAT','SEXO','IDA-MÉD','TC','NC','TO','ME','TURNO','TC-NC-TO','NC-ME','NC-TURNO','ANO','AE']
df_exp_sel = df_exp[colunas_selecionadas]

In [35]:
df_exp_sel.head(100)

,CR,RF,RF-CAT,SEXO,IDA-MÉD,TC,NC,TO,ME,TURNO,TC-NC-TO,NC-ME,NC-TURNO,ANO,AE
0,AMA,NaN,ND,M,47.0,TÉC,PES,SUB,P,VES,TÉC-PES-SUB,PES-P,PES-VES,2017,SIM
1,BRA,0.5,"0,5",F,17.0,FIC,MFC,CON,P,NOT,FIC-MFC-CON,MFC-P,MFC-NOT,2017,NÃO
2,BRA,0.5,"0,5",F,17.0,TÉC,GT,SUB,P,VES,TÉC-GT-SUB,GT-P,GT-VES,2017,NÃO
3,BRA,0.5,"0,5",F,17.0,TÉC,SJ,SUB,P,VES,TÉC-SJ-SUB,SJ-P,SJ-VES,2017,NÃO
3,BRA,0.5,"0,5",F,17.0,TÉC,SJ,SUB,P,VES,TÉC-SJ-SUB,SJ-P,SJ-VES,2017,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,BRA,NaN,ND,M,27.0,TÉC,SJ,SUB,P,NOT,TÉC-SJ-SUB,SJ-P,SJ-NOT,2017,SIM
70,BRA,NaN,ND,M,27.0,TÉC,SJ,SUB,P,NOT,TÉC-SJ-SUB,SJ-P,SJ-NOT,2017,SIM
71,BRA,NaN,ND,M,27.0,TÉC,TA,SUB,P,NOT,TÉC-TA-SUB,TA-P,TA-NOT,2017,SIM
71,BRA,NaN,ND,M,27.0,TÉC,TA,SUB,P,NOT,TÉC-TA-SUB,TA-P,TA-NOT,2017,SIM
71,BRA,NaN,ND,M,27.0,TÉC,TA,SUB,P,NOT,TÉC-TA-SUB,TA-P,TA-NOT,2017,SIM

In [40]:
# gerar e salvar o arquivo csv

df_exp_sel.to_csv('../data/prepared_data.csv', index=False)
# files.download('prepared_data.csv')

Os dados originais foram inicialmente expandidos de acordo com a quantidade de alunos conluíntes e evadidos. Os valores das colunas foram transformados para os tipos adequados e, em alguns casos, dados ausentes foram tratados como nulos. Por exemplo, na coluna RF os valores ausentes são nulos, uma vez que a coluna é numérica, enquanto que na RF-CAT os dados ausentes são considerados uma nova categoria. Em seguida, os atributos tidos como duplicados, irrelevantes ou que possam ser considerados data leakage foram retirados. O próximo passo é definir os atributos e exemplos que farão parte do modelo através de expoloração dos dados e avaliações prévias. Decisões como a utilização de RF ou RF-CAT ou, da utilização ou não de valores nulos.