In [ ]:
import numpy as np
import pandas as pd
# from google.colab import files

# Fazer o upload do arquivo CSV
# uploaded = files.upload()

# Nome do arquivo enviado
# nome_arquivo = list(uploaded.keys())[0] # dados_01

In [2]:
# Dados tratados na primeira fase de preparação
df = pd.read_csv('prepared_data.csv')

In [ ]:
# Transformações necessárias para a exploração
# Converte True para 1 e False para 0
df['AE'] = df['AE'].map({"SIM":1,"NÃO":0})
df.head(100)

,CR,RF,RF-CAT,SEXO,IDA-MÉD,TC,NC,TO,ME,TURNO,TC-NC-TO,NC-ME,NC-TURNO,ANO,AE
0,AMA,NaN,ND,M,47.0,TÉC,PES,SUB,P,VES,TÉC-PES-SUB,PES-P,PES-VES,2017,1
1,BRA,0.5,"0,5",F,17.0,FIC,MFC,CON,P,NOT,FIC-MFC-CON,MFC-P,MFC-NOT,2017,0
2,BRA,0.5,"0,5",F,17.0,TÉC,GT,SUB,P,VES,TÉC-GT-SUB,GT-P,GT-VES,2017,0
3,BRA,0.5,"0,5",F,17.0,TÉC,SJ,SUB,P,VES,TÉC-SJ-SUB,SJ-P,SJ-VES,2017,0
4,BRA,0.5,"0,5",F,17.0,TÉC,SJ,SUB,P,VES,TÉC-SJ-SUB,SJ-P,SJ-VES,2017,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,BRA,NaN,ND,M,27.0,TÉC,SJ,SUB,P,NOT,TÉC-SJ-SUB,SJ-P,SJ-NOT,2017,1
96,BRA,NaN,ND,M,27.0,TÉC,SJ,SUB,P,NOT,TÉC-SJ-SUB,SJ-P,SJ-NOT,2017,1
97,BRA,NaN,ND,M,27.0,TÉC,TA,SUB,P,NOT,TÉC-TA-SUB,TA-P,TA-NOT,2017,1
98,BRA,NaN,ND,M,27.0,TÉC,TA,SUB,P,NOT,TÉC-TA-SUB,TA-P,TA-NOT,2017,1
99,BRA,NaN,ND,M,27.0,TÉC,TA,SUB,P,NOT,TÉC-TA-SUB,TA-P,TA-NOT,2017,1

In [4]:
df.dtypes

CR           object
RF          float64
RF-CAT       object
SEXO         object
IDA-MÉD     float64
TC           object
NC           object
TO           object
ME           object
TURNO        object
TC-NC-TO     object
NC-ME        object
NC-TURNO     object
ANO           int64
AE            int64
dtype: object

In [5]:
# Colunas selecionadas para treinar os modelos, algumas ficaram de fora porque eram ambíguas com outra variável ou não faziam sentido no modelo
colunas_selecionadas = ['RF-CAT','SEXO','IDA-MÉD','TC','NC','TO','ME','TURNO','ANO','AE']
df_col_sel = df[colunas_selecionadas]

In [6]:
df_col_sel.dtypes

RF-CAT      object
SEXO        object
IDA-MÉD    float64
TC          object
NC          object
TO          object
ME          object
TURNO       object
ANO          int64
AE           int64
dtype: object

In [7]:
# gerar e salvar o arquivo csv, os valores categóricos per

df_col_sel.to_csv('../data/selected_data_01.csv', index=False)
# files.download('selected_data.csv')

In [8]:
df_col_sel.head(5)

  RF-CAT SEXO  IDA-MÉD   TC   NC   TO ME TURNO   ANO  AE
0     ND    M     47.0  TÉC  PES  SUB  P   VES  2017   1
1    0,5    F     17.0  FIC  MFC  CON  P   NOT  2017   0
2    0,5    F     17.0  TÉC   GT  SUB  P   VES  2017   0
3    0,5    F     17.0  TÉC   SJ  SUB  P   VES  2017   0
4    0,5    F     17.0  TÉC   SJ  SUB  P   VES  2017   0

In [9]:
df_dummies = pd.get_dummies(df_col_sel, columns=['RF-CAT','SEXO', 'TC', 'NC', 'TO', 'ME','TURNO'], drop_first=True, dtype=int)
print(df_dummies)

      IDA-MÉD   ANO  AE  RF-CAT_1  RF-CAT_1,5  RF-CAT_2,5  RF-CAT_3,5  \
0        47.0  2017   1         0           0           0           0
1        17.0  2017   0         0           0           0           0
2        17.0  2017   0         0           0           0           0
3        17.0  2017   0         0           0           0           0
4        17.0  2017   0         0           0           0           0
...       ...   ...  ..       ...         ...         ...         ...
5714     27.0  2023   1         1           0           0           0
5715     42.0  2023   0         0           0           0           1
5716     42.0  2023   1         0           0           0           1
5717     37.0  2023   1         0           0           0           0
5718     37.0  2023   1         1           0           0           0

      RF-CAT_5  RF-CAT_ND  SEXO_M  ...  TO_INT  TO_NSA  TO_PROINT  TO_PROSUB  \
0            0          1       1  ...       0       0          0          0
1            0          0       0  ...       0       0          0          0
2            0          0       0  ...       0       0          0          0
3            0          0       0  ...       0       0          0          0
4            0          0       0  ...       0       0          0          0
...        ...        ...     ...  ...     ...     ...        ...        ...
5714         0          0       0  ...       0       0          0          0
5715         0          0       0  ...       0       0          0          1
5716         0          0       0  ...       0       0          0          1
5717         0          1       0  ...       0       0          0          1
5718         0          0       0  ...       0       0          0          0

      TO_SUB  ME_P  TURNO_MAT  TURNO_NOT  TURNO_NSA  TURNO_VES
0          1     1          0          0          0          1
1          0     1          0          1          0          0
2          1     1          0          0          0          1
3          1     1          0          0          0          1
4          1     1          0          0          0          1
...      ...   ...        ...        ...        ...        ...
5714       1     0          0          0          1          0
5715       0     0          0          0          1          0
5716       0     0          0          0          1          0
5717       0     0          0          0          1          0
5718       1     0          0          0          1          0

[5719 rows x 48 columns]

In [10]:
df_dummies['IDA-MÉD'] = df['IDA-MÉD'].round(2)
df_dummies.head(5)

,IDA-MÉD,ANO,AE,RF-CAT_1,"RF-CAT_1,5","RF-CAT_2,5","RF-CAT_3,5",RF-CAT_5,RF-CAT_ND,SEXO_M,...,TO_INT,TO_NSA,TO_PROINT,TO_PROSUB,TO_SUB,ME_P,TURNO_MAT,TURNO_NOT,TURNO_NSA,TURNO_VES
0,47.0,2017,1,0,0,0,0,0,1,1,...,0,0,0,0,1,1,0,0,0,1
1,17.0,2017,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,17.0,2017,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
3,17.0,2017,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
4,17.0,2017,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1

In [11]:
# Obter a lista de colunas
colunas = list(df_dummies.columns)

# Remover a coluna 'AE' da lista de colunas
colunas.remove('AE')

# Recolocar 'AE' no fim da lista
colunas = colunas + ['AE']

# Reorganizar o DataFrame com as colunas na nova ordem
df_dummies = df_dummies[colunas]

# Exibir o DataFrame com a coluna 'AE' movida para o início
print(df_dummies.head())

   IDA-MÉD   ANO  RF-CAT_1  RF-CAT_1,5  RF-CAT_2,5  RF-CAT_3,5  RF-CAT_5  \
0     47.0  2017         0           0           0           0         0
1     17.0  2017         0           0           0           0         0
2     17.0  2017         0           0           0           0         0
3     17.0  2017         0           0           0           0         0
4     17.0  2017         0           0           0           0         0

   RF-CAT_ND  SEXO_M  TC_FIC  ...  TO_NSA  TO_PROINT  TO_PROSUB  TO_SUB  ME_P  \
0          1       1       0  ...       0          0          0       1     1
1          0       0       1  ...       0          0          0       0     1
2          0       0       0  ...       0          0          0       1     1
3          0       0       0  ...       0          0          0       1     1
4          0       0       0  ...       0          0          0       1     1

   TURNO_MAT  TURNO_NOT  TURNO_NSA  TURNO_VES  AE
0          0          0          0          1   1
1          0          1          0          0   0
2          0          0          0          1   0
3          0          0          0          1   0
4          0          0          0          1   0

[5 rows x 48 columns]

In [12]:
# Obter a lista de colunas
colunas = list(df_dummies.columns)

# Remover a coluna 'AE' da lista de colunas
colunas.remove('ANO')

# Recolocar 'AE' no fim da lista
colunas = ['ANO'] + colunas

# Reorganizar o DataFrame com as colunas na nova ordem
df_dummies = df_dummies[colunas]

# Exibir o DataFrame com a coluna 'AE' movida para o início
print(df_dummies.head())

    ANO  IDA-MÉD  RF-CAT_1  RF-CAT_1,5  RF-CAT_2,5  RF-CAT_3,5  RF-CAT_5  \
0  2017     47.0         0           0           0           0         0
1  2017     17.0         0           0           0           0         0
2  2017     17.0         0           0           0           0         0
3  2017     17.0         0           0           0           0         0
4  2017     17.0         0           0           0           0         0

   RF-CAT_ND  SEXO_M  TC_FIC  ...  TO_NSA  TO_PROINT  TO_PROSUB  TO_SUB  ME_P  \
0          1       1       0  ...       0          0          0       1     1
1          0       0       1  ...       0          0          0       0     1
2          0       0       0  ...       0          0          0       1     1
3          0       0       0  ...       0          0          0       1     1
4          0       0       0  ...       0          0          0       1     1

   TURNO_MAT  TURNO_NOT  TURNO_NSA  TURNO_VES  AE
0          0          0          0          1   1
1          0          1          0          0   0
2          0          0          0          1   0
3          0          0          0          1   0
4          0          0          0          1   0

[5 rows x 48 columns]

In [13]:
# gerar e salvar o arquivo csv, os valores foram normalizados para o treinamento dos modelos

df_dummies.to_csv('../data/dummies_data_01.csv', index=False)
# files.download('dummies_data.csv')